@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800&display=swap');

body {
    font-family: 'Inter', sans-serif;
    padding: 0px 50px;
}
table, th, td {
    border: 1px solid #ddd;
    border-collapse: collapse;
  }

.myNav {
    background-color: #1090D81A;
}

.card {
    align-items: center !important;
    justify-content: center !important;
    width: 100wv;
	height: 100vh;
}
.myBtn {
    font-weight: 700;
    font-size: 20px;
    background-color: #1090D8;
    padding: 0px 100px;
}
.card > img {
    width: 200px;
    height: 200px;
}
.input-box > p {
    margin: 0px;
}
